---
apiVersion: kuttl.dev/v1beta1
kind: TestAssert
timeout: 600
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: test-kafka-broker-default
status:
  readyReplicas: 3
  replicas: 3
{% if test_scenario['values']['use-kraft-controller'] == 'true' %}
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: test-kafka-controller-default
status:
  readyReplicas: 3
  replicas: 3
{% endif %}
