[package]
authors = ["Lars Francke <lars.francke@stackable.de>"]
build = "build.rs"
description = "Stackable Operator for Apache Kafka"
edition = "2018"
license = "OSL-3.0"
name = "stackable-kafka-operator-binary"
repository = "https://github.com/stackabletech/kafka-operator"
version = "0.3.0-nightly"

[dependencies]
stackable-kafka-crd = { path = "../crd" }
stackable-kafka-operator = { path = "../operator" }
stackable-operator = { git = "https://github.com/stackabletech/operator-rs.git", branch = "main" }

clap = "2.33"
k8s-openapi = { version = "0.13", default-features = false, features = ["v1_22"] }
tokio = { version = "1.10", features = ["macros", "rt-multi-thread"] }
tracing = "0.1"

[build-dependencies]
built = { version =  "0.5", features = ["chrono", "git2"] }
stackable-operator = { git = "https://github.com/stackabletech/operator-rs.git", branch = "main" }
stackable-kafka-crd = { path = "../crd" }

[package.metadata.deb]
name = "stackable-kafka-operator"
maintainer-scripts = "../../packaging/debian/"
systemd-units = { enable = false, unit-name = "stackable-kafka-operator" }
assets = [
    ["../../target/release/stackable-kafka-operator", "opt/stackable/kafka-operator/", "755"],
    ["../../deploy/crd/kafkacluster.crd.yaml", "etc/stackable/kafka-operator/crd/", "644"],
    ["../../deploy/config-spec/properties.yaml", "etc/stackable/kafka-operator/config-spec/", "644"],
]



[[bin]]
name = "stackable-kafka-operator"
path = "src/stackable-kafka-operator.rs"