{% with title="Stackable Operator for Apache Kafka" -%}
  {% include "partials/borrowed/header.md" %}
{%- endwith %}
{% with operator_name="kafka" -%}
  {% include "partials/borrowed/links.md" %}
{%- endwith %}

{% include "partials/main.md" %}

{% include "partials/borrowed/footer.md" %}

{% with related_reading_links=[] -%}
  {%- include "partials/borrowed/related_reading.md" -%}
{%- endwith %}