[Unit]
Description=Stackable Kafka Operator
Before=
After=network.target
[Service]
User=root
ExecStart=/opt/stackable/kafka-operator/stackable-kafka-operator-server
Restart=on-abort
StandardOutput=journal
StandardError=journal
Environment="KAFKA_OPERATOR_LOG=info"
[Install]
WantedBy=multi-user.target