---
apiVersion: kuttl.dev/v1beta1
kind: TestStep
metadata:
  name: install-kafka-zk
timeout: 300
---
apiVersion: zookeeper.stackable.tech/v1alpha1
kind: ZookeeperCluster
metadata:
  name: kafka-zk
spec:
  image:
    productVersion: "{{ test_scenario['values']['zookeeper'].split('-stackable')[0] }}"
    stackableVersion: "{{ test_scenario['values']['zookeeper'].split('-stackable')[1] }}"
  servers:
    roleGroups:
      default:
        replicas: 1
        config:
          myidOffset: 10
