---
apiVersion: kuttl.dev/v1beta1
kind: TestStep
metadata:
  name: install-kafka
timeout: 300
---
apiVersion: kafka.stackable.tech/v1alpha1
kind: KafkaCluster
metadata:
  name: simple-kafka
spec:
  image:
    productVersion: "{{ test_scenario['values']['kafka'].split('-stackable')[0] }}"
    stackableVersion: "{{ test_scenario['values']['kafka'].split('-stackable')[1] }}"
  clusterConfig:
    zookeeperConfigMapName: kafka-zk
    tls:
{% if test_scenario['values']['use-client-tls'] == 'true' %}
      serverSecretClass: tls
{% else %}
      serverSecretClass: null
{% endif %}
  brokers:
    config:
      resources:
        storage:
          logDirs:
            capacity: '2Gi'
        cpu:
          max: '500m'
          min: '250m'
        memory:
          limit: '1Gi'
    roleGroups:
      default:
        replicas: 1
