---
apiVersion: kuttl.dev/v1beta1
kind: TestAssert
timeout: 300
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: test-kafka-broker-default
  generation: 1 # There should be no unneeded Pod restarts
spec:
  template:
    spec:
      containers:
        - name: kafka
          resources:
            limits:
              cpu: 1100m # From podOverrides
              memory: 2Gi
            requests:
              cpu: 300m # From podOverrides
              memory: 2Gi
        - name: kcat-prober
          resources:
            limits:
              cpu: 200m
              memory: 128Mi
            requests:
              cpu: 100m
              memory: 128Mi
{% if lookup('env', 'VECTOR_AGGREGATOR') %}
        - name: vector
          resources:
            limits:
              cpu: 500m
              memory: 128Mi
            requests:
              cpu: 250m
              memory: 128Mi
{% endif %}
      terminationGracePeriodSeconds: 1800
      volumes:
{% if test_scenario['values']['use-client-tls'] == 'true' %}
        - name: tls-kcat
          ephemeral:
            volumeClaimTemplate:
              metadata:
                annotations:
                  secrets.stackable.tech/backend.autotls.cert.lifetime: 7d
        - name: tls-kafka-server
          ephemeral:
            volumeClaimTemplate:
              metadata:
                annotations:
                  secrets.stackable.tech/backend.autotls.cert.lifetime: 7d
{% endif %}
        - name: tls-kafka-internal
          ephemeral:
            volumeClaimTemplate:
              metadata:
                annotations:
                  secrets.stackable.tech/backend.autotls.cert.lifetime: 7d
        - name: log-config
        - name: listener-broker
        - name: config
        - name: log
status:
  readyReplicas: 1
  replicas: 1
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: log-dirs-test-kafka-broker-default-0
spec:
  resources:
    requests:
      storage: 2Gi
status:
  phase: Bound
---
apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: test-kafka-broker
status:
  expectedPods: 1
  currentHealthy: 1
  disruptionsAllowed: 1
