---
apiVersion: kuttl.dev/v1beta1
kind: TestAssert
timeout: 600
commands:
  - script: kubectl -n $NAMESPACE wait --for=condition=available=true kafkaclusters.kafka.stackable.tech/test-kafka --timeout 601s
