---
apiVersion: kuttl.dev/v1beta1
kind: TestAssert
timeout: 300
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: test-kafka-broker-default
spec:
  template:
    spec:
      containers:
        - name: kafka
          resources:
            limits:
              # value set in the role configuration
              cpu: '1'
              # value set in the rolegroup configuration
              memory: 1Gi
            requests:
              # default value set by the operator
              cpu: 500m
              # value set in the rolegroup configuration
              memory: 1Gi
        - name: kcat-prober
{% if lookup('env', 'VECTOR_AGGREGATOR') %}
        - name: vector
{% endif %}
  volumeClaimTemplates:
    - metadata:
        name: log-dirs
      spec:
        resources:
          requests:
            # value set in the role configuration and overridden in
            # the rolegroup configuration
            storage: 2Gi
