{% if not test_scenario['values']['kafka-kraft'].startswith("3.7") %}
---
apiVersion: kuttl.dev/v1beta1
kind: TestAssert
timeout: 600
commands:
  - script: kubectl -n $NAMESPACE wait --for=condition=available kafkaclusters.kafka.stackable.tech/test-kafka --timeout 301s
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: test-kafka-broker-default
status:
  readyReplicas: 3
  replicas: 3
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: test-kafka-controller-default
status:
  readyReplicas: 3
  replicas: 3
{% endif %}
