#
# This is a test helper to ensure that all broker pods are deleted before
# the test namespace is terminated.
# The brokers must be deleted because otherwise they are left dangling until
# the test timeouts and fails.
#
{% if not test_scenario['values']['kafka-kraft'].startswith("3.7") %}
---
apiVersion: kuttl.dev/v1beta1
kind: TestStep
timeout: 600
---
apiVersion: kafka.stackable.tech/v1alpha1
kind: KafkaCluster
metadata:
  name: test-kafka
spec:
  image:
{% if test_scenario['values']['kafka-kraft'].find(",") > 0 %}
    custom: "{{ test_scenario['values']['kafka-kraft'].split(',')[1] }}"
    productVersion: "{{ test_scenario['values']['kafka-kraft'].split(',')[0] }}"
{% else %}
    productVersion: "{{ test_scenario['values']['kafka-kraft'] }}"
{% endif %}
{% if lookup('env', 'VECTOR_AGGREGATOR') %}
  clusterConfig:
    metadataManager: kraft
    vectorAggregatorConfigMapName: vector-aggregator-discovery
{% endif %}
  controllers:
    config:
      logging:
        enableVectorAgent: {{ lookup('env', 'VECTOR_AGGREGATOR') | length > 0 }}
    roleGroups:
      default:
        replicas: 3
  brokers:
    config:
      logging:
        enableVectorAgent: {{ lookup('env', 'VECTOR_AGGREGATOR') | length > 0 }}
    roleGroups:
      default:
        replicas: 0
  clusterOperation:
    stopped: false
    reconciliationPaused: false
{% endif %}
