---
apiVersion: kuttl.dev/v1beta1
kind: TestAssert
timeout: 600
commands:
  - script: kubectl -n $NAMESPACE wait --for=condition=stopped kafkaclusters.kafka.stackable.tech/test-kafka --timeout 601s
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: test-kafka-broker-default
status:
  replicas: 0
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: test-kafka-broker-custom-log-config
status:
  replicas: 0
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: test-kafka-broker-automatic-log-config
status:
  replicas: 0
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: test-kafka-controller-custom-log-config
status:
  replicas: 0
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: test-kafka-controller-automatic-log-config
status:
  replicas: 0
