---
apiVersion: kuttl.dev/v1beta1
kind: TestStep
timeout: 600
---
apiVersion: kafka.stackable.tech/v1alpha1
kind: KafkaCluster
metadata:
  name: test-kafka
spec:
  clusterOperation:
    stopped: true
    reconciliationPaused: false
