---
apiVersion: kuttl.dev/v1beta1
kind: TestAssert
timeout: 600
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: test-kafka-broker-automatic-log-config
status:
  readyReplicas: 1
  replicas: 1
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: test-kafka-broker-custom-log-config
status:
  readyReplicas: 1
  replicas: 1
{% if test_scenario['values']['use-kraft-controller'] == 'true' %}
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: test-kafka-controller-automatic-log-config
status:
  readyReplicas: 1
  replicas: 1
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: test-kafka-controller-custom-log-config
status:
  readyReplicas: 1
  replicas: 1
{% endif %}
