{% if test_scenario['values']['use-opa-tls'] == "true" %}
---
apiVersion: kuttl.dev/v1beta1
kind: TestStep
commands:
  - script: |
      kubectl apply -n $NAMESPACE -f - << EOF
      ---
      apiVersion: secrets.stackable.tech/v1alpha2
      kind: SecretClass
      metadata:
        name: opa-tls-$NAMESPACE
      spec:
        backend:
          autoTls:
            ca:
              autoGenerate: true
              secret:
                name: opa-tls-ca
                namespace: $NAMESPACE
      EOF
{% endif %}
