---
apiVersion: zookeeper.stackable.tech/v1alpha1
kind: ZookeeperCluster
metadata:
  name: test-zk
spec:
  version: {{ test_scenario['values']['zookeeper'] }}
  config:
    tls: null
  servers:
    roleGroups:
      default:
        replicas: 1
