---
apiVersion: kuttl.dev/v1beta1
kind: TestStep
commands:
{% if test_scenario['values']['use-client-tls'] == 'true' %}
  - script: kubectl cp -n $NAMESPACE ./test_client_tls.sh test-kafka-broker-default-0:/tmp
{% endif %}
{% if test_scenario['values']['use-internal-tls'] == 'true' %}
  - script: kubectl cp -n $NAMESPACE ./test_internal_tls.sh test-kafka-broker-default-0:/tmp
{% endif %}
