---
apiVersion: batch/v1
kind: Job
metadata:
  name: test-tls
spec:
  template:
    spec:
      containers:
        - name: kafka
          image: ${KAFKA_IMAGE}
          workingDir: /stackable/test
{% if test_scenario['values']['use-client-auth-tls'] == 'true' %}
          command:
            - ./test_client_auth_tls.sh
          args:
            - ${NAMESPACE}
{% elif test_scenario['values']['use-client-tls'] == 'true' %}
          command:
            - ./test_client_tls.sh
          args:
            - ${NAMESPACE}
{% else %}
          command:
            - "true"
{% endif %}
          volumeMounts:
            - name: test-scripts
              mountPath: /stackable/test
            - mountPath: /stackable/tls_keystore_internal
              name: tls-keystore-internal
{% if test_scenario['values']['use-client-auth-tls'] == 'true' or test_scenario['values']['use-client-tls'] == 'true' %}
            - mountPath: /stackable/tls_keystore_server
              name: tls-keystore-server
{% endif %}
      volumes:
        - name: test-scripts
          configMap:
            name: test-scripts
            defaultMode: 0777
{% if test_scenario['values']['use-client-auth-tls'] == 'true' %}
        - name: tls-keystore-server
          ephemeral:
            volumeClaimTemplate:
              metadata:
                annotations:
                  secrets.stackable.tech/class: test-kafka-client-auth-tls
                  secrets.stackable.tech/format: tls-pkcs12
                  secrets.stackable.tech/scope: pod,node
              spec:
                storageClassName: secrets.stackable.tech
                accessModes:
                  - ReadWriteOnce
                resources:
                  requests:
                    storage: "1"
{% elif test_scenario['values']['use-client-tls'] == 'true' %}
        - name: tls-keystore-server
          ephemeral:
            volumeClaimTemplate:
              metadata:
                annotations:
                  secrets.stackable.tech/class: tls
                  secrets.stackable.tech/format: tls-pkcs12
                  secrets.stackable.tech/scope: pod,node
              spec:
                storageClassName: secrets.stackable.tech
                accessModes:
                  - ReadWriteOnce
                resources:
                  requests:
                    storage: "1"
{% endif %}
        - name: tls-keystore-internal
          ephemeral:
            volumeClaimTemplate:
              metadata:
                annotations:
                  secrets.stackable.tech/class: tls
                  secrets.stackable.tech/format: tls-pkcs12
                  secrets.stackable.tech/scope: pod,node
              spec:
                storageClassName: secrets.stackable.tech
                accessModes:
                  - ReadWriteOnce
                resources:
                  requests:
                    storage: "1"
      securityContext:
        fsGroup: 1000
        runAsGroup: 1000
        runAsUser: 1000
      serviceAccountName: test-sa
      restartPolicy: OnFailure
