---
apiVersion: kuttl.dev/v1beta1
kind: TestStep
metadata:
  name: delete-secondary
timeout: 300
---
apiVersion: kafka.stackable.tech/v1alpha1
kind: KafkaCluster
metadata:
  name: simple-kafka
spec:
  image:
    productVersion: "{{ test_scenario['values']['kafka'].split('-stackable')[0] }}"
    stackableVersion: "{{ test_scenario['values']['kafka'].split('-stackable')[1] }}"
  zookeeperConfigMapName: kafka-zk
  brokers:
    roleGroups:
      default:
        replicas: 1
      secondary: null
