---
apiVersion: kuttl.dev/v1beta1
kind: TestStep
timeout: 300
---
apiVersion: kafka.stackable.tech/v1alpha1
kind: KafkaCluster
metadata:
  name: test-kafka
spec:
  image:
{% if test_scenario['values']['kafka'].find(",") > 0 %}
    custom: "{{ test_scenario['values']['kafka'].split(',')[1] }}"
    productVersion: "{{ test_scenario['values']['kafka'].split(',')[0] }}"
{% else %}
    productVersion: "{{ test_scenario['values']['kafka'] }}"
{% endif %}
    pullPolicy: IfNotPresent
  clusterConfig:
{% if lookup('env', 'VECTOR_AGGREGATOR') %}
    vectorAggregatorConfigMapName: vector-aggregator-discovery
{% endif %}
{% if test_scenario['values']['use-kraft-controller'] == 'false' %}
    zookeeperConfigMapName: test-zk
{% else %}
  controllers:
    config:
      gracefulShutdownTimeout: 30s # speed up tests
      logging:
        enableVectorAgent: {{ lookup('env', 'VECTOR_AGGREGATOR') | length > 0 }}
    roleGroups:
      default:
        replicas: 2
      secondary:
        replicas: 1
{% endif %}
  brokers:
    config:
      gracefulShutdownTimeout: 30s # speed up tests
      logging:
        enableVectorAgent: {{ lookup('env', 'VECTOR_AGGREGATOR') | length > 0 }}
    roleGroups:
      default:
        replicas: 1
      secondary:
        replicas: 1
