---
apiVersion: kuttl.dev/v1beta1
kind: TestAssert
timeout: 300
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: test-kafka-broker-default
status:
  readyReplicas: 1
  replicas: 1
{% if test_scenario['values']['use-kraft-controller'] == 'true' %}
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: test-kafka-controller-default
status:
  readyReplicas: 2
  replicas: 2
{% endif %}
