[package]
authors = ["Lars Francke <lars.francke@stackable.de>"]
description = "Stackable Operator for Apache Kafka - The Custom Resource Definition"
edition = "2018"
license = "OSL-3.0"
name = "stackable-kafka-crd"
repository = "https://github.com/stackabletech/kafka-operator"
version = "0.3.0-nightly"

[dependencies]
stackable-opa-crd = { git = "https://github.com/stackabletech/opa-operator.git", branch = "main" }
stackable-operator = { git = "https://github.com/stackabletech/operator-rs.git", branch = "main" }
stackable-zookeeper-crd = { git = "https://github.com/stackabletech/zookeeper-operator.git", branch = "main"}

duplicate = "0.3.0"
k8s-openapi = { version = "0.13", default-features = false }
kube = { version = "0.60", default-features = false, features = ["jsonpatch", "derive"] }
schemars = "0.8"
semver = "1.0"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0" # Needed by the CustomResource annotation
thiserror = "1.0"

strum = "0.21"
strum_macros = "0.22"

[dev-dependencies]
k8s-openapi = { version = "0.13", default-features = false, features = ["v1_22"] }
serde_yaml = "0.8"
rstest = "0.11"

[features]
default = ["native-tls"]
native-tls = ["kube/native-tls"]
rustls-tls = ["kube/rustls-tls"]
