---
apiVersion: kuttl.dev/v1beta1
kind: TestStep
timeout: 300
---
apiVersion: zookeeper.stackable.tech/v1alpha1
kind: ZookeeperCluster
metadata:
  name: kafka-zk
spec:
  servers:
    roleGroups:
      default:
        replicas: 1
        config:
          myidOffset: 10
  version: {{ test_scenario['values']['zookeeper'] }}
  stopped: false
