{% if test_scenario['values']['zookeeper'] != 'false' %}
---
apiVersion: zookeeper.stackable.tech/v1alpha1
kind: ZookeeperZnode
metadata:
  name: test-kafka-znode
spec:
  clusterRef:
    name: test-zk
{% endif %}
{% if test_scenario['values']['use-client-auth-tls'] == 'true' %}
---
apiVersion: authentication.stackable.tech/v1alpha1
kind: AuthenticationClass
metadata:
  name: test-kafka-client-auth-tls
spec:
  provider:
    tls:
      clientCertSecretClass: test-kafka-client-auth-tls
---
apiVersion: secrets.stackable.tech/v1alpha1
kind: SecretClass
metadata:
  name: test-kafka-client-auth-tls
spec:
  backend:
    autoTls:
      ca:
        secret:
          name: secret-provisioner-tls-kafka-client-auth-ca
          namespace: default
        autoGenerate: true
{% endif %}
---
apiVersion: kafka.stackable.tech/v1alpha1
kind: KafkaCluster
metadata:
  name: test-kafka
spec:
  image:
    productVersion: "{{ test_scenario['values']['upgrade_old'] }}"
    pullPolicy: IfNotPresent
  clusterConfig:
{% if test_scenario['values']['use-client-auth-tls'] == 'true' %}
    authentication:
      - authenticationClass: test-kafka-client-auth-tls
{% endif %}
    tls:
{% if test_scenario['values']['use-client-tls'] == 'true' %}
      serverSecretClass: tls
{% else %}
      serverSecretClass: null
{% endif %}
{% if lookup('env', 'VECTOR_AGGREGATOR') %}
    vectorAggregatorConfigMapName: vector-aggregator-discovery
{% endif %}
{% if test_scenario['values']['zookeeper'] != 'false' %}
    zookeeperConfigMapName: test-zk
{% else %}
  controllers:
    config:
      gracefulShutdownTimeout: 30s # speed up tests
      logging:
        enableVectorAgent: {{ lookup('env', 'VECTOR_AGGREGATOR') | length > 0 }}
    roleGroups:
      default:
        replicas: 3
{% endif %}
  brokers:
    config:
      gracefulShutdownTimeout: 30s # speed up tests
      logging:
        enableVectorAgent: {{ lookup('env', 'VECTOR_AGGREGATOR') | length > 0 }}
    roleGroups:
      default:
        replicas: 1
