---
apiVersion: kuttl.dev/v1beta1
kind: TestStep
timeout: 300
---
apiVersion: kafka.stackable.tech/v1alpha1
kind: KafkaCluster
metadata:
  name: simple-kafka
spec:
  version: {{ test_scenario['values']['upgrade_new'] }}
  zookeeperConfigMapName: kafka-zk
  brokers:
    roleGroups:
      default:
        replicas: 1ocd
