---
apiVersion: kuttl.dev/v1beta1
kind: TestStep
timeout: 300
commands:
  - script: >-
      kubectl --namespace $NAMESPACE
      patch kafkaclusters.kafka.stackable.tech simple-kafka
      --type=merge --patch '{ "spec": { "version": "{{ test_scenario['values']['upgrade_new'] }}" }}'
