---
apiVersion: kuttl.dev/v1beta1
kind: TestAssert
timeout: 300
commands:
  - script: kubectl -n $NAMESPACE wait --for=condition=stopped kafkaclusters.kafka.stackable.tech/test-kafka --timeout 301s
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: test-kafka-broker-default
status:
  replicas: 0
{% if test_scenario['values']['use-kraft-controller'] == 'true' %}
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: test-kafka-controller-default
status:
  replicas: 0
{% endif %}
